.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

/* Navigation Component Styles */

.Navigation {
  display: flex;
  justify-content: flex-end;
  padding: 0 1em;
  font-size: 1.25em;
}

ul {
  list-style-type: none;
}

.link-anchor {
  color: #000;
}

.link-anchor:hover {
  color: #808080;
}

/* End of Navigation Component Styles */

.Logo {
  background-color: black;
  width: 13%;
  position: absolute;
  left: 4em;
  border-radius: 100px;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.form-container {
  width: 40%;
  margin: auto;
  position: relative;
  z-index: 1;
}

.input-field {
  background-color: pink;
  width: 350px;
  padding: 15px;
  margin: 50px auto 0px auto;
}

.btn {
  background-color: white;
  text-align: center;
  padding: 12px;
}

@media (prefers-reduced-motion: no-preference) {
  .Logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
